.container{
    width: 700px;
    margin: auto;
    background-color: #edf0f1;
  }

  .RHeader{
    display:inline-block;
    /* display:inline; */
  text-align:center; 
  /* float:left; */
  width:50%;
  padding-top:10px;
  font-size: 22px;
}

.RHeader>p{
    padding-right: 20px;    
  }

  .LHeader{
    /* display:inline; */
    display:inline-block;
    text-align:center;
    /* float:left; */
    width:50%;
    padding-top:10px;
    font-size: 15px;
  }

  .LHeader>h2{
    padding-right: 20px;
  }

  header {
    height: 100px;
    display: block;
    padding: 15px;
    top: 0;
    color:black;
    /* background:#3385ffb6; */
    background: gold;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  }